<?xml version="1.0" encoding="UTF-8"?>
<config>

	<fieldset name="basic" label="COM_SPPROPERTY_FIELDSET_BASIC_LABEL">
		
		<field name="gmap_api" type="text" label="COM_SPPROPERTY_GOOGLE_MAP_API" description="COM_SPPROPERTY_GOOGLE_MAP_API_DESC" default="" />

		<field name="currency" type="list" label="COM_SPPROPERTY_CURRENCY" description="COM_SPPROPERTY_CURRENCY_DESC" default="USD:$">
			<option value="USD:$">United States dollar($)</option>
			<option value="GBP:£">British pound(£)</option>
			<option value="RUB:₽">Russian Ruble(₽)</option>
			<option value="BRL:R$">Brazilian Real(R$)</option>
			<option value="CAD:$">Canadian Dollar($)</option>
			<option value="CZK:Kč">Czech Koruna(Kč)</option>
			<option value="DKK:kr.">Danish Krone(kr.)</option>
			<option value="EUR:€">Euro(€)</option>
			<option value="HKD:HK$">Hong Kong Dollar(HK$)</option>
			<option value="HUF:Ft">Hungarian Forint(Ft)</option>
			<option value="ILS:₪">Israeli New Sheqel(₪)</option>
			<option value="JPY:¥">Japanese Yen(¥)</option>
			<option value="MYR:RM">Malaysian Ringgit(RM)</option>
			<option value="MXN:Mex$">Mexican Peso(Mex$)</option>
			<option value="NOK:kr">Norwegian Krone(kr)</option>
			<option value="NZD:$">New Zealand Dollar($)</option>
			<option value="PHP:₱">Philippine Peso(₱)</option>
			<option value="PLN:zł">Polish Zloty(zł)</option>
			<option value="SGD:$">Singapore Dollar($)</option>
			<option value="SEK:kr">Swedish Krona(kr)</option>
			<option value="CHF:CHF">Swiss Franc(CHF)</option>
			<option value="TWD:角">Taiwan New Dollar(角)</option>
			<option value="THB:฿">Thai Baht(฿)</option>
			<option value="TRY:TRY">Turkish Lira(TRY)</option>
		</field>

		<field name="spacer1" type="spacer" hr="true" />
		<field name="properties_limit" type="number" default="12" label="COM_SPPROPERTY_CONF_PROPTS_LIMIT" description="COM_SPPROPERTY_CONF_PROPTS_LIMIT_DESC"/>
		<field name="properties_columns" type="list" default="4" label="COM_SPPROPERTY_SET_PROPTS_COLUMNS" description="COM_SPPROPERTY_SET_PROPTS_COLUMNS_DESC">
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="6">6</option>
			<option value="12">12</option>
		</field>


		<field name="spacer2" type="spacer" hr="true" />
		<field name="agents_limit" type="number" default="12" label="COM_SPPROPERTY_CONF_AGENTS_LIMIT" description="COM_SPPROPERTY_CONF_AGENTS_LIMIT_DESC"/>
		<field name="agents_columns" type="list" default="4" label="COM_SPPROPERTY_SET_AGENTS_COLUMNS" description="COM_SPPROPERTY_SET_AGENTS_COLUMNS_DESC">
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="6">6</option>
			<option value="12">12</option>
		</field>

	</fieldset>

	<fieldset name="properties" label="COM_SPPROPERTY_FIELDSET_PROPERTIES_LABEL">

		<field type="spacer" name="properties" label="COM_SPPROPERTY_PROPERTIES_LIST" />

		<field name="req_visit"
			type="radio"
			class="btn-group"
			default="0"
			label="COM_SPPROPERTY_CONF_SHOWHIDE_REQUEST_FOR_VISIT">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field type="spacer" name="properties_agent" label="COM_SPPROPERTY_PROPERTIES_DETAILS" />

		<field name="recipient" type="text" label="COM_SPPROPERTY_RECIPIENT_EMAIL" description="COM_SPPROPERTY_RECIPIENT_EMAIL_DESC" default="" />

		<field name="prpry_rm_btn_text" type="text" default="More Info" label="COM_SPPROPERTY_PROPERTY_READMORE_TEXT" description="COM_SPPROPERTY_PROPERTY_READMORE_TEXT_DESC" />

	</fieldset>


	<fieldset name="agents" label="COM_SPPROPERTY_FIELDSET_AGENTS_LABEL">

		<field type="spacer" name="agents" label="COM_SPPROPERTY_AGENTS_DETAILS" />

		<field name="show_contact"
			type="radio"
			class="btn-group"
			default="0"
			label="COM_SPPROPERTY_CONF_SHOWHIDE_CONTCT_FORM">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

	</fieldset>


	<fieldset name="licenseupdate">
		<field name="joomshaper_email" type="email" label="COM_SPPROPERTY_CONF_JOOMSHAPER_EMAIL" description="COM_SPPROPERTY_CONF_JOOMSHAPER_EMAIL_DESC" />
		<field name="joomshaper_license_key" type="text" label="COM_SPPROPERTY_CONF_JOOMSHAPER_LICENSE_KEY" description="COM_SPPROPERTY_CONF_JOOMSHAPER_LICENSE_KEY_DESC" />
	</fieldset>

	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" filter="rules" component="com_spproperty" section="component" />
	</fieldset>	
</config>